.scroll1, 
.scroll2{
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 5px;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff, #fff, transparent)
}
.scroll1 div{
    white-space: nowrap;
    animation: animate1 20s linear infinite;
}
.scroll2 div{
    white-space: nowrap;
    animation: animate7 20s linear infinite;
}
@keyframes animate1 {
    0%{
       transform: translateX(100%); 
    }
    100%{
        transform: translateX(-100%); 
    }
}
@keyframes animate7 {
    0%{
       transform: translateX(-100%); 
    }
    100%{
        transform: translateX(100%); 
    }
}
/* .scroll div span{
    display: inline-flex;
    margin: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
    
}

.scroll div span:hover{
    background: aqua;
    cursor: pointer;
} */

.hov{
    animation: animate3 2s linear infinite;
}


@keyframes animate3 {
    0%{
        box-shadow: 0 4px 8px 0 rgb(255, 3, 3), 0 6px 20px 0 rgba(209, 227, 3, 0.19);
    }
    50%{
        box-shadow: 0 4px 8px 0 rgb(32, 255, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    100%{
        box-shadow: 0 4px 8px 0 rgb(255, 3, 154), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}